#simple tr td #para1 tr td p strong {
	font-size: x-large;
}
#simple tr td #para1 tr td p strong {
	font-size: smaller;
}
#simple tr td #para1 tr td p strong {
	font-size: medium;
}
#simple tr td #para1 tr td p strong {
	font-size: large;
}
#italic {
	font-weight: bold;
}
